@import "variables";
.home {
  color: $colorMenuHover;
}
.title {
  padding-top: 5%;
}
svg {
  font-family: $font;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 15% 5%;
  stroke-width: 10px;
  stroke-dashoffset: 16%;
  animation: stroke-offset 5s infinite linear;
  letter-spacing: 0.05em;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #b55096;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0084;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: $colorMenu;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
p {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}

.BUTTON {
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 20px;
  font-family: $font;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  color: $colorMenu;
  background-color: transparent;
  border: solid 6px $colorMenu;
  border-radius: 5px;
}
.button:hover {
  background-color: $colorMenu;
  color: black;
  border: solid 6px transparent;
}
