@import "variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

body {
  background-color: $colorBody;
}
.menu {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: $font;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $colorMenu;
}

a:hover,
a.github:hover,
a.linkedin:hover,
a.email:hover {
  color: $colorMenuHover;
}
p,
li,
h3 {
  font-family: $font;
  font-weight: 100;
  font-size: 18px;
  color: $colorP;
  opacity: 70%;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}
h1 {
  color: $colorP;
  font-family: $font;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0.08em;
  padding-bottom: 15px;
}
h2 {
  opacity: 80%;
  color: $colorP;
  font-family: $font;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 15px;
  letter-spacing: 0.08em;
}

.contenent {
  background: $colorContainer;
  box-shadow: 0 0 15px #dddddd inset;
  text-align: left;
}

a.email,
a.github,
a.linkedin {
  font-family: $font;
  text-decoration: none;
  color: $colorP;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 18px;
}
