@import "../tablet.css";

body {
  background-image: url("photo.gif");
  background-position: -250px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-image: none;
  height: auto;
}

.menu {
  width: 100vw;
}

.contenent {
  border-radius: 0px;
  position: static;
  top: 0vh;
  width: 50vw;
  margin-left: 50vw;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
}

h1 {
  padding-bottom: 4px;
}
