body {
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.contenent {
  width: 46vw;
  height: auto;
  margin-top: 12vh;
  margin-right: 5.83vw;
  margin-left: 48vw;
  padding-top: 6vh;
  padding-left: 6.67vw;
  padding-right: 5.42vw;
  padding-bottom: 6vh;
  position: fixed;
}
