@import "../variables.scss";
body {
  background-image: url("photo.gif");
  background-position: -130px 0px;
  background-repeat: no-repeat;
  background-size: 100vh;
}
.background {
  background-image: none;
  height: auto;
}
.menu {
  width: 100vw;
  text-align: right;
  padding-right: 70px;
}

.contenent {
  border-radius: 0px;
  position: static;
  top: 0vh;
  width: 50vw;
  margin-left: 50vw;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}
h1 {
  padding-bottom: 4px;
}
