.container {
  position: absolute;

  width: 50vw;
  min-height: 100vh;
  margin-top: 0vh;
  margin-right: 0vw;
  margin-left: 50vw;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 96px;
}
.container h1 {
  font-size: 36px;
  line-height: 43.57px;
  font-weight: 600;
  padding-bottom: 4px;
}

.container h2 {
  font-size: 20px;
  line-height: 24.2px;
  padding-bottom: 43px;
}

// .container p {
//   font-size: 16px;
// //   line-height: 21px;
//   // margin-bottom: 42px;
// }
.container h3 {
  font-size: 20px;
  line-height: 24.2px;
}
.container a {
  font-size: 16px;
  line-height: 19.36px;
}
.email {
  margin-bottom: 44px;
  margin-top: 18px;
}
.container h4 {
  font-size: 20px;
  line-height: 24.2px;
}
.github {
  margin-bottom: 20.79px;
  margin-top: 21px;
}

.email img {
  width: 30px;
  height: 20px;
}
.github img {
  width: 30px;
  height: 30px;
}
.linkedin img {
  width: 30px;
  height: 30px;
}
