@import url(/Users/zimo/Desktop/PersonalWebSite/tablet.css);
.contenent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

img {
  margin-left: 15px;
  margin-bottom: 15px;
}

p {
  width: 130vw;
}
