@import "../variables";
.contacts {
  color: $colorMenuHover;
}
.contenent {
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
h3 {
  font-weight: 100;
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

ul a {
  display: flex;
  align-items: center;
}

ul a span {
  letter-spacing: 0.05em;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}
img {
  width: 30px;
  height: 30px;
}
